<%- include('partials/header') %>
    <div class="jumbotron text-center">
        <h1>Edit <%= campground.name %> </h1>
    </div>
    <div class="container">
        <form action="/campground/<%= campground._id %>/edit?_method=PUT" method="post">
            <div class="form-group">
                <label>Name<span class="red">*</span></label>
                <input class="form-control" type="text" placeholder="Name" name="name" value="<%= campground.name %>" required >
            </div>
            <div class="form-group">
                <label>Image url<span class="red">*</span></label>
                <input class="form-control" type="url" placeholder="Image URL" name="image" value="<%= campground.coverImage %>" required>
            </div>
            <div class="form-group">
                <label>Description<span class="red">*</span></label>
                <textarea class="form-control" name="description" placeholder="Description" cols="5" rows="2"><%= campground.description %></textarea>
            </div>
            <div class="form-group">
                <label>Pricing<span class="red">*</span></label>
                <input class="form-control" type="number" min="0" placeholder="Price/Night" name="pricing" value="<%= campground.pricing %>" required><span class="pull-right text-muted">*$/night</span> 
            </div>
            <div class="form-group">
                <label>Contact</label>
                <input class="form-control" type="number" placeholder="123-456-7891" name="contact" value="<%= campground.contact %>">
            </div>
            <div class="form-group">
                <label>Location<span class="red">*</span></label>
                <input class="form-control" type="text" placeholder="Yosemite National Park, CA" name="address" required value="<%= campground.address %>">
                <small class="text-muted">(Please Enter a valid Address)</small>
            </div>
            <label>Best Time to Visit</label> 
            <div class="form-group"> 
                <select name="startmonth" class="form-control pull-left" style="width: 45%;">
                    <option selected >Start</option>
                    <option value="Jan" >Jan</option>
                    <option value="Feb" >Feb</option>
                    <option value="Mar" >Mar</option>
                    <option value="Apr" >Apr</option>
                    <option value="May" >May</option>
                    <option value="Jun" >Jun</option>
                    <option value="Jul" >Jul</option>
                    <option value="Aug" >Aug</option>
                    <option value="Sep" >Sep</option>
                    <option value="Oct" >Oct</option>
                    <option value="Nov" >Nov</option>
                    <option value="Dec" >Dec</option>
                </select>
                <select name="endmonth" class="form-control pull-right" style="width: 45%;"> 
                    <option selected >End</option>
                    <option value="Jan" >Jan</option>
                    <option value="Feb" >Feb</option>
                    <option value="Mar" >Mar</option>
                    <option value="Apr" >Apr</option>
                    <option value="May" >May</option>
                    <option value="Jun" >Jun</option>
                    <option value="Jul" >Jul</option>
                    <option value="Aug" >Aug</option>
                    <option value="Sep" >Sep</option>
                    <option value="Oct" >Oct</option>
                    <option value="Nov" >Nov</option>
                    <option value="Dec" >Dec</option>
                </select>
            </div>
            <div class="form-group text-center" style="margin-top: 60px;">
                <button class="btn btn-primary">Update</button>
            </div>
        </form>
    </div>
    <style>
        form{
            width: 60%;
            margin: auto;
        }
        input.form-control{
            box-shadow: none !important;
        }
        .red{
            color: red;
        }
    </style>
<%- include('partials/footer') %>