<%- include('partials/header') %>
<link rel="stylesheet" href="/stylesheets/campgrounds.css">
    <div class="jumbotron">
        <h1>Campgrounds</h1>
    </div>
    <div class="container">
        <div class="row text-center">
            <% campgrounds.forEach(function(campground){ %>
                <div class="col-md-3 col-sm-6 pad">
                    <div class="thumbnail">
                            <img src="<%= campground.coverImage %> " style="width:100%">
                            <div class="caption">
                                <p> <span class="imagename"><%= campground.name %></span>  <i class="fa fa-heart" id="icons" aria-hidden="true"></i></p>
                            </div>
                            <p>
                                <a href="/campground/<%= campground._id %>" class="btn btn-primary">More info</a>
                            </p>
                    </div>
                </div> 
            <% }) %>  
        </div>
    </div>
    
<%- include('partials/footer') %> 