<%- include('partials/header') %>
    <div class="container" id="popup" style="margin-top: 10px;">
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
                <a class = "close">X</a>
            </div>
            <script>
                $(document).ready(function() {
                    setTimeout(function() {
                        $('div#popup').slideUp();
                    }, 6000);
                });
                $('a.close').click(function () {
                    $('div#popup').slideUp();
                })
            </script>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
                <a class = "close">X</a>
            </div>
            <script>
                $(document).ready(function() {
                    setTimeout(function() {
                        $('div#popup').slideUp();
                    }, 6000);
                });
                $('a.close').click(function () {
                    $('div#popup').slideUp();
                })
            </script>
        <% } %>
    </div>
<link rel="stylesheet" href="/stylesheets/campgroundshow.css">
    <div class=" cont p-3">
        <div class="row">
            <div class="col-md-3">
                <h4 class="text-center"><%= campground.name %> </h4>
                <div class="card info">
                    <div class="card-header"><strong><i class="fa fa-calendar" aria-hidden="true"></i> Best Time to visit</strong></div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Info 1</li>
                    </ul>
                </div>
                <div class="card info">
                    <div class="card-header"><strong><i class="fa fa-smile-o" aria-hidden="true"></i> Facilities</strong></div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Info 2</li>
                        <li class="list-group-item">Info 3</li>
                        <li class="list-group-item">Info 4</li>
                    </ul>
                </div>
                <div class="card info">
                    <div class="card-header"><strong><i class="fa fa-globe" aria-hidden="true"></i> Booking</strong></div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"> optional Info 5</li>
                    </ul>
                </div>
                <p>
                    <Address>Address: <%= campground.address %> </Address>
                </p>
            </div>
            <div class="col-md-9">
                <div class="card">
                    <img class="img-fluid img-responsive" src="<%= campground.coverImage %>">
                    <div class="caption">
                        <h4 class="pull-right">$ <%= campground.pricing %>/night</h4>
                        
                        <h4><a href="<%= campground.webLink %>"><%= campground.name %></a></h4>
                        <div class="Stars" style="--rating: 5;" aria-label="Rating of this product"></div>
                        <p class="p-3" style="font-size: large;">
                            <%= campground.description %>
                        </p>
                        <hr>
                        <p> Submitted by:<em> <%= campground.author.username %> </em> Rating: <%= campground.ratingNumber %>& <%= campground.ratingCount %> Reviews  
                            <span class="pull-right">
                                <% var options = {year: 'numeric', month: 'long', day: 'numeric' }; %> 
                                Last Modified: <em><%= new Date(campground.updatedAt).toLocaleDateString("en-US", options) %> </em>
                            </span>
                        </p>
                        <% if (currentUser && campground.author.id.toString() == currentUser._id.toString()){ %>
                            <a href="/campground/<%= campground._id %>/edit" class="btn btn-info pull-right m-2">Edit</a>
                            <form action="/campground/<%= campground._id %>/delete?_method=DELETE" method="POST">
                                <button class="btn btn-danger pull-right m-2">Delete</button>
                            </form>
                        <% } %>                     
                    </div>
                </div>
                <div class="commentbox">
                    <h4 class="text-center">Reviews</h4>
                    <hr>
                    <% if(currentUser){ %> 
                        <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#exampleModalCenter">
                            Add a Review
                        </button>
                        <br><br>
                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                            aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Review - <strong><%= campground.name %></strong>
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <strong>Author : <%= currentUser.username  %>  </strong>
                                        <form action="/campground/<%= campground._id %>/comment" method="POST">
                                            <div class="form-group">
                                                <input class="form-control" type="text" name="comment" placeholder="Review" required  autofocus/>
                                            </div>
                                            <div class="form-group">
                                                <div class="rating">
                                                    <input id="star5" name="star" type="radio" value="5" class="radio-btn hide" /> <label for="star5">☆</label>
                                                    <input id="star4" name="star" type="radio" value="4" class="radio-btn hide" /> <label for="star4">☆</label>
                                                    <input id="star3" name="star" type="radio" value="3" class="radio-btn hide" /> <label for="star3">☆</label>
                                                    <input id="star2" name="star" type="radio" value="2" class="radio-btn hide" /> <label for="star2">☆</label>
                                                    <input id="star1" name="star" type="radio" value="1" class="radio-btn hide" /><label for="star1">☆</label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <button class="btn btn-primary">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% } %> 
                        <% campground.comments.forEach(function (comment, index) { %>
                            <% text = comment.text %> 
                            <div class="row">
                                <div class="col-md-12">
                                    <strong>
                                        <%= comment.author.username %>
                                        <% for (i = 1; i < 6; i++) { %>
                                            <% if(i<=comment.rating){ %>
                                                <i class="fa fa-star"></i>
                                            <% } else{ %>
                                                <i class="fa fa-star-o"></i>
                                            <% } %>   
                                        <% } %>  
                                    </strong>
                                    <span class="pull-right">10 days ago</span>
                                    <p>
                                        <%= comment.text %>
                                        <!-- <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#editComment"> Edit </button>
                                        <br><br>
                                        <div class="modal fade" id="editComment" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Review - <strong><%# campground.name %></strong></h5>
                                                    </div>
                                                    <div class="modal-body">
                                                        <strong>Author : Author  </strong>
                                                        <form action="/campground/<%# campground._id %>/comment/<%# comment._id %>/edit" method="POST">
                                                            <div class="form-group">
                                                                <input class="form-control" type="text" name="comment" placeholder="Review" value="<%# comment.text %>" required  autofocus/>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="rating">
                                                                    <input id="star5" name="star" type="radio" value="5" class="radio-btn hide" /> <label for="star5">☆</label>
                                                                    <input id="star4" name="star" type="radio" value="4" class="radio-btn hide" /> <label for="star4">☆</label>
                                                                    <input id="star3" name="star" type="radio" value="3" class="radio-btn hide" /> <label for="star3">☆</label>
                                                                    <input id="star2" name="star" type="radio" value="2" class="radio-btn hide" /> <label for="star2">☆</label>
                                                                    <input id="star1" name="star" type="radio" value="1" class="radio-btn hide" /><label for="star1">☆</label>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <button class="btn btn-primary">Submit</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> -->
                                    </p>
                                </div>
                            </div>               
                        <% }) %> 
                    </div>
            </div>
        </div>
    </div>
<%- include('partials/footer') %> 