<%- include('partials/header') %>
    <div class="jumbotron">
        <h1>Edit <%= campground.name %> </h1>
    </div>
    <div class="container">
        <form action="/campground/<%= campground._id %>/edit?_method=PUT" method="post">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Name" name="name" value="<%= campground.name %> " required >
            </div>
            <div class="form-group">
                <input class="form-control" type="url" placeholder="Image URL" name="image" value="<%= campground.coverImage %> " required>
            </div>
            <div class="form-group">
                <textarea class="form-control" name="description" placeholder="Description" cols="5" rows="5"><%= campground.description %></textarea>
                <!-- <input class="form-control" type="text-box" placeholder="Description" name="description" required> -->
            </div>
            <div class="form-group">
                <input class="form-control" type="number" min="0" placeholder="Pricing" name="pricing" value="<%= campground.pricing %>" required><span class="pull-right">*Rs/night</span> 
            </div>
            <div class="form-group">
                <input class="form-control" type="url" placeholder="Refer Link" name="refer" value="<%= campground.webLink %> " required>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Location" name="location">
            </div>
            <div class="form-group text-center">
                <button class="btn btn-primary">Update</button>
            </div>
        </form>
    </div>
    <style>
        form{
            width: 60%;
            margin: auto;
        }
        input.form-control{
            box-shadow: none !important;
        }
    </style>
<%- include('partials/footer') %>