<%- include('partials/header') %>
<div class="container" id="popup" style="margin-top: 10px;">
    <% if(error && error.length > 0){ %>
        <div class="alert alert-danger" role="alert">
            <%= error %>
            <a class = "close"><i class="fa fa-times-circle" aria-hidden="true"></i></a>
        </div>
        <script>
            $(document).ready(function() {
                setTimeout(function() {
                    $('div#popup').slideUp();
                },2500);
            });
            $('a.close').click(function () {
                $('div#popup').slideUp();
            })
        </script>
    <% } %>
    <% if(success && success.length > 0){ %>
        <div class="alert alert-success" role="alert">
            <%= success %>
            <a class = "close"><i class="fa fa-times-circle" aria-hidden="true"></i></a>
        </div>
        <script>
            $(document).ready(function() {
                setTimeout(function() {
                    $('div#popup').slideUp();
                }, 2500);
            });
            $('a.close').click(function () {
                $('div#popup').slideUp();
            })
        </script>
    <% } %>
</div>
<link rel="stylesheet" href="/stylesheets/profile.css"> 
    <div class="container" id="user">
        <div class="row">
            <div class="col col-sm-3 text-center">
                <div class="userlogo pull-right"><%= currentUser.firstName[0] %> </div>
            </div>
            <div class="col col-sm-9" style="font-family: Arial, Helvetica, sans-serif;">
                <h1><%= currentUser.firstName %> <%= currentUser.lastName %>  </h1>
                <p class="lead"><%= currentUser.email %></p>
                <% if(currentUser.description){ %>
                    <p style="color: #6c757d;"><%= currentUser.description %> </p>
                <% } %> 
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg" id="profile">
        <div class="navbar-nav" id="profile1">
            <a class="nav-item nav-link focused" id="campgrounds">Campgrounds <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" id="likes">Likes</a>
            <a class="nav-item nav-link" id="profileEdit">Profile</a>
        </div>
    </nav>
    <!-- <hr> -->
    <div id="campgroundsShow">
        <div class="container">
            <div class="row text-center">
                <% userCampgrounds.forEach(function(campground){ %>
                    <div class="col-md-3 col-sm-6 pad">
                        <div class="thumbnail">
                                <img src="<%= campground.image %> " style="width:100%">
                                <div class="caption">
                                    <p> <span class="imagename"><%= campground.name %></span></p>
                                </div>
                                <p>
                                    <a href="/campground/<%= campground._id %>" class="btn btn-primary">View</a>
                                </p>
                        </div>
                    </div> 
                <% }) %>  
            </div>
        </div>
    </div>
    <div id="likedShow" style="display: none;">
        <div class="container">
            <div class="row text-center">
                <% likedCampgrounds.forEach(function(campground){ %>
                    <div class="col-md-3 col-sm-6 pad">
                        <div class="thumbnail">
                                <img src="<%= campground.image %> " style="width:100%">
                                <div class="caption">
                                    <p> <span class="imagename"><%= campground.name %></span>  <i class="fa fa-heart icon-unlike" campgroundid = "<%= campground._id %>" style="color: red;" aria-hidden="true"></i></p>
                                </div>
                                <p>
                                    <a href="/campground/<%= campground._id %>" class="btn btn-primary">Visit</a>
                                </p>
                        </div>
                    </div> 
                <% }) %>  
            </div>
        </div>
    </div>
    <div id="profileEdit" style="display: none;">
        <div class="container">
            <form action="/pedit/<%= currentUser._id %>?_method=PUT" method="post">
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <label>Fisrst Name<span class="red">*</span></label>
                            <input type="text" class="form-control" name="firstName" placeholder="First Name" value="<%= currentUser.firstName %>" required />
                        </div>
                        <div class="col">
                            <label>Last Name<span class="red">*</span> </label>
                            <input type="text" class="form-control" name="lastName" placeholder="Last Name" value="<%= currentUser.lastName %>" required />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Email </label>
                    <input class="form-control" type="email" name="email" placeholder="Email" value="<%= currentUser.email %>" />
                </div>
                <div class="form-group">
                    <label>Phone No. </label>
                    <input class="form-control" type="number" name="phoneNumber" placeholder="Phone No." value="<%= currentUser.phoneNumber %>" />
                </div>
                <div class="form-group">
                    <label>Description </label>
                    <br>
                    <textarea class="form-control" name="description" placeholder="About Me" cols="155" rows="3"><%= currentUser.description %></textarea>
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-primary">Edit</button>
                </div>
            </form>
        </div>
    </div>
<script src="/scripts/profile.js"></script>
<%- include('partials/footer') %> 