<%- include('partials/header') %> 
    <div class="jumbotron">
        <div class="container text-center">
            <h1> <i class="fa fa-user-circle"></i> <%= currentUser.firstName %> <%= currentUser.lastName %>  </h1>
            <p class="lead"><%= currentUser.email %></p>
        </div>
    </div>
    <h3 class="text-center"> Liked Cacmpgrounds</h3>
    <div class="container">
        <ul>
            <li>1</li>
        </ul>
    </div>
<%- include('partials/footer') %> 