<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/profile.css">
<div class="container" id="user">
    <div class="d-flex flex-wrap">
        <div class="col col-sm-3 text-center">
            <div class="userlogo"><%= currentUser.name[0] %> </div>
        </div>
        <div class="col col-sm-9 d-flex flex-column justify-content-center px-3"
            style="font-family: Arial, Helvetica, sans-serif;">
            <h1><%= currentUser.name %></h1>
            <p class="lead"><%= currentUser.email %></p>
        </div>
    </div>
</div>
<nav class="navbar navbar-expand-lg" id="profile">
    <div class="navbar-nav px-4" id="profile1">
        <a class="nav-item px-5 nav-link focused" id="campgrounds">Campgrounds <span
                class="sr-only">(current)</span></a>
        <a class="nav-item px-5 nav-link" id="likes">Likes</a>
    </div>
</nav>
<div id="campgroundsShow">
    <div class="container">
        <div class="row text-center">
            <% userCampgrounds.forEach(function(campground){ %>
            <div class="col-md-3 col-sm-6 pad">
                <div class="thumbnail">
                    <img src="<%= campground.images[0].preview %>" class="img-fluid rounded">
                    <div class="caption">
                        <h1><%= campground.name %></h1>
                    </div>
                    <p>
                        <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">View</a>
                    </p>
                </div>
            </div>
            <% }) %>
        </div>
    </div>
</div>
<div id="likedShow" style="display: none;">
    <div class="container">
        <div class="row text-center">
            <% likedCampgrounds.likes.forEach(function(campground){ %>
            <div class="col-md-3 col-sm-6 pad">
                <div class="thumbnail">
                    <img src="<%= campground.images[0].preview %> " class="img-fluid rounded">
                    <div class="caption">
                        <h1><%= campground.name %></h1>
                    </div>
                    <p>
                        <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">Visit</a>
                        <i class="fa fa-heart btn btn-success icon-unlike" campgroundId="<%= campground._id %>"
                            aria-hidden="true">&nbsp; Unlike</i>
                    </p>
                </div>
            </div>
            <% }) %>
        </div>
    </div>
</div>
<script>
    const userId = "<%- currentUser._id %>";
</script>
<script src="/scripts/profile.js"></script>